.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--bg);
  color: whitesmoke;
  border-radius: 5px;
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--bg);
  color: white;
}
